<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>Hi, I am Arafat Tai. I have created this boring weather app using Node js. Yes this is my first project as a backend dev, yes this one sucks and I know it. Now if you see me wasting time, please keep your kaam se kaam</p>
    </div>
    {{>footer}}
</body>

</html>