<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <h3>Get weather from this boring app!</h3>

        <form>
            <input placeholder="Enter location here">
            <button>Search</button>
        </form>

        <p class="msg" id="message-1"></p>
        <p class="msg" id="message-2"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>