<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .header {
            position: fixed;
            right: 0;
            margin-right: 10pt;
            width: 100%;
            color: grey;
            text-align: right;
        }

        .links {
            padding: 3pt;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/" class="links">Weather</a>
        <a href="/help" class="links">Help</a>
        <a href="/about" class="links">About</a>
    </div>
</body>

</html>