{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .header {
            position: fixed;
            right: 0;
            margin-right: 10pt;
            width: 100%;
            color: black;
            background-color: lightgray;
            text-align: right;
            padding: 7pt;
        }

        .links {
            padding: 3pt;
            color: black;
        }
    </style>
</head> --}}
<h1>{{title}}</h1>
<header>
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</header>