body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    color: #888888;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}